.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 150px 45px 80px 100px;
}
.container h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;

    margin-bottom: 50px;
}

.galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.galeria__imagem{
    display: flex;
    flex-direction: column;

    cursor: pointer;
    
    margin-bottom: 40px;
}
.imagem__titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 18px;
}
.imagem__titulo h2{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.imagem__titulo span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #5C5C5C;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    width: 100%;
    height: 100%;
    
    position: fixed;

    background-color: rgba(0, 0, 0, 0.6);
}
.modal__img{
    width: 555px;
    height: 370px;

    position: absolute;
}
.modal__arrow--left{
    cursor: pointer;

    width: 80px;
    height: 80px;

    position: absolute;
    left: 20%;
}
.modal__arrow--right{
    cursor: pointer;

    width: 80px;
    height: 80px;

    position: absolute;
    right: 20%;
}
.modal__btn-fechar{
    cursor: pointer;

    position: absolute;
    top: 90px;
    right: 45px;
}